 
.cta {
    margin-top: -50px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
  
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
    color: white;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hoverUnderlineAnimation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hoverUnderlineAnimation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hoverUnderlineAnimation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.fir{
    height: 50vh;
    width: 100vh;
}


